<h3>This will be a list of posts</h3>

<ul>
        <% @posts.each do |p| %>
            <li>
            	<p><%= link_to p.user_id, post_path(p.id) %></p>
                <h4><%= p.title %></h4>
                
                <p><%= p.content %></p>
            </li>
        <% end %>
</ul>